body {
    padding: 0px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/*NAVBAR*/
.navbar {
    min-height: 35px;
    margin-bottom: 0;
    /*height: 35px;*/
}
@media (min-width: 768px) {
    .navbar-right {
        height: 35px;
    }
}
.navbar-default {
    background-color: #5D5E62;
    border: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}
.navbar-top-links li {
    margin-left: 10px;
}
.navbar-top-links li:last-child {
    margin-right: 0;
}

.navbar-top-links>li>a {
    color: #dddddd;
    min-height: 35px;
    padding: 0;
}
.navbar-top-links>li>a:hover {
    color: #ffffff;
    background-color: transparent;
}
.navbar-top-links>li>a:focus {
    background-color: transparent;
}
.navbar-top-links>li>a.poweroff:hover {
    color: #ff0000;
}
.navbar-brand {
    padding: 1px 10px 0 0;
    height: 35px;
}
.navbar-top-links {
    margin: 0;
}
.navbar-form {
    background-color: #232323;
    margin: 0;
    padding: 15px;
}

/*TABS*/
.nav-tabs {
    border: 0;
}
.nav-tabs > li > a {
    border: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #D8D1C2;
    color: #666666;
    padding: 7px;
}
.nav-tabs > li > a:hover {
    border: 0;
    background-color: #ffffff;
}
.nav-tabs > li.active > a {
    border: 0;
    background-color: #EDEAE3;
    color: #000000;
}
.nav-tabs > li.active > a:hover {
    border: 0;
    background-color: transparent;
}

/*ASSETVIEW PANE*/
@media (min-width: 768px) {
    .sidebar {
        background-color: #333333;
        color: #dddddd;
        min-height: 600px;
        margin-top: 35px;
        top: 0;
    }
}

/*TREEVIEW*/
.node-tree {
    background-color: transparent;
    border: 1px solid transparent;
}
.sidebar {
    color: #dddddd;
    background-color: #333333;
}
.sidebar ul li {
    border: 0;
}
.sidebar ul li:hover {
    background-color: transparent;
    color: #ffffff;
}
.sidebar button.btn-default {
    color: #dddddd;
    background-color: transparent;
    border-color: #666666;
    border-left: transparent;
}
.sidebar input.form-control {
    color: #dddddd;
    background-color: transparent;
    border-color: #666666;
    border-right: transparent;
}
.treeview span.icon {
    font-size: 12px;
}
.list-group-item {
    padding: 10px 10px;
    margin-bottom: -1px;
}


/*BREADCRUMB*/
.breadcrumb>li+li:before {
    content: "\203A";
    color: #ffffff;
}
.breadcrumb {
    background-color: transparent;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
}
.breadcrumb a {
    color: #ddd;
}
.breadcrumb a:hover {
    color: #fff;
    text-decoration: none;
}
.breadcrumb li {
    padding-top: 5px;
}
.breadcrumb>.active {
    color: #fff;
    font-size: 1.1em;
}


/*CONTENT*/
#page-wrapper {
    padding: 0;
}
@media (min-width: 768px) {
    #page-wrapper {
        border-left: 0;
    }
}

.icon_apparatus_at {
    background-image: url(../img/icon_apparatus_at.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

/*BADGE*/
.badge {
    height: 30px;
    width: 30px;
    min-height: 10px;
    padding: 6px 7px;
    font-weight: normal;
    background-color: transparent;
    -ms-border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid red;
    margin-bottom: 10px;
}


/*CUSTOM*/
.dp-content {
    background-color: #EDEAE3;
    border: 1px solid #D8D1C2;
    margin: 5px;
    padding: 0px;
    min-height: 595px;
}
.dp-user > a > i.fa-user {
    padding-right: 7px;
}
.dp-user {
    bottom: 5px;
}
.dp-branding {
    background-color: #232323;
    margin: 0;
    padding-top: 20px;
    text-align: center;
}
#clock_date, #clock_time {
    color: #ccc;
    font-size: 0.8em;
}
#clock_time {
    color: #fff;
}
